<option value="{{ url_for('main.translate', doc_id=doc.id, lang='hi') }}">Hindi (hi)</option>
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='bn') }}">Bengali (bn)</option>
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='ta') }}">Tamil (ta)</option>
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='te') }}">Telugu (te)</option>
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='ml') }}">Malayalam (ml)</option>
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='kn') }}">Kannada (kn)</option>
                    
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='es') }}">Spanish (es)</option>
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='fr') }}">French (fr)</option>
                    <option value="{{ url_for('main.translate', doc_id=doc.id, lang='de') }}">German (de)</option>